#todo {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    box-shadow: none;
}

#todo:focus {
    border: none;
}

#head {
    font-family: cursive;
    color: darkcyan;
}

.check:checked+i {
    text-decoration: line-through;
    opacity: 50%;
}

.carddiv {
    background: rgb(190, 220, 248);
    color: black;
}